<div class="row justify-content-center mt-5 ">
    <div class="card col-md-6 border-dark">
        <div class="card-body">

            <form action="login" method="POST">
                <h3 class="text-center">Login</h3>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control border-dark" required>
                </div>

                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" class="form-control border-dark" required>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success col-md-6">Entrar</button>
                </div>
            </form>

        </div>
    </div>
</div>